.item0 {
  -webkit-transform: translate3d(10px, 0, 0); }

.item1 {
  -webkit-transform: translate3d(335px, 0, 0); }

.item2 {
  -webkit-transform: translate3d(660px, 0, 0); }

.item3 {
  -webkit-transform: translate3d(985px, 0, 0); }

.item4 {
  -webkit-transform: translate3d(1310px, 0, 0); }

.item5 {
  -webkit-transform: translate3d(1635px, 0, 0); }

.item6 {
  -webkit-transform: translate3d(1960px, 0, 0); }

.item7 {
  -webkit-transform: translate3d(2285px, 0, 0); }

.item8 {
  -webkit-transform: translate3d(2610px, 0, 0); }

.item9 {
  -webkit-transform: translate3d(2935px, 0, 0); }

.item10 {
  -webkit-transform: translate3d(3260px, 0, 0); }

.item11 {
  -webkit-transform: translate3d(3585px, 0, 0); }

.item12 {
  -webkit-transform: translate3d(3910px, 0, 0); }

.item13 {
  -webkit-transform: translate3d(4235px, 0, 0); }

.item14 {
  -webkit-transform: translate3d(4560px, 0, 0); }

.item15 {
  -webkit-transform: translate3d(4885px, 0, 0); }

.item16 {
  -webkit-transform: translate3d(5210px, 0, 0); }

.item17 {
  -webkit-transform: translate3d(5535px, 0, 0); }

.item18 {
  -webkit-transform: translate3d(5860px, 0, 0); }

.item19 {
  -webkit-transform: translate3d(6185px, 0, 0); }
